<template>
  <div>
  <div class="home">
    <h1>{{title}}</h1>
    <p>Catbase is a website dedicated to sharing photography of cats.</p>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg4" v-for="(data, index) in images" :key="index">
      <img @click="openDetail(data.imageId)" :src="data.image" class="img-fluid">
      <p>{{data.desc}}</p>
    </div>
  </div>
  </div>
</template>
<script>
  export default {
    name: 'home',
    data () {
      return {
        title: 'Catbase',
        images: [
        {
          image: require('../assets/img/vasilij.jpg'),
          desc: 'Brown Scottish fold in brown thick-pile blanket',
          imageId: 1
        }, {
          image: require('../assets/img/alex.jpg'),
          desc: 'Selective focus photo of gray tabby cat',
          imageId: 2
        }, {
          image: require('../assets/img/eric.jpg'),
          desc: 'Silver tabby cat beside clear glass window',
          imageId: 3
        }, {
          image: require('../assets/img/jan.jpg'),
          desc: 'Brown tabby cat lying on white textile',
          imageId: 4
        }, {
          image: require('../assets/img/krista.jpg'),
          desc: 'Dog and cat hugging each other on the grass',
          imageId: 5
        }, {
          image: require('../assets/img/raul.jpg'),
          desc: 'Brown cat lying over black cat',
          imageId: 6
        }
        ]
      }
    },
    methods: {
      openDetail(imagId) {
        this.$router.push({name: 'more', params: {Iid: imagId}});
      }
    }
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  p {
    font-size: 1.25rem;
    padding: 10px;
  }

  img {
    cursor: pointer;
  }

  .home {
    text-align: center;
    margin: 20px auto 20px auto;
  }
</style>
