<template>
<div>
 <div class="login">
  <h1>{{title}}</h1>
 </div>

 <div class="form d-flex justify-content-center align-items-center container">
  <form>
   <fieldset>

     <div class="form-group">
       <label for="staticEmail">Email address</label>
       <input id="staticEmail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
     </div>

     <div class="form-group">
       <label for="password1">Password</label>
       <input id="password1" type="password" class="form-control" placeholder="Password">
     </div>

     <button type="submit" class="btn btn-primary btn-lg">Login</button>
   </fieldset>
 </form>
 </div>
</div>
</template>

<script>
 export default{
  name:'login',
  data () {
   return {
    title:'Login'
   }
  }
 }
</script>

<style scoped>
  .login {
    text-align: center;
    margin: 20px auto 20px auto;
  }

  p {
    font-size: 1.25rem;
    padding: 10px;
  }

  label {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #333;
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .form {
    padding: 20px;
    max-width: 550px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
  }
</style>
