<template>
 <div class="more">
  <h1 v-if="imgId == data.imageId" v-for="data in images">{{data.catName}}</h1>
  <div class="col-md-12" v-for="(data, index) in images" :key="index">
    <div v-if="imgId == data.imageId">
      <img :src="data.image" class="img-fluid">
      <p>{{data.desc}}</p>
    </div>
  </div>
 </div>
</template>
<script>
 export default{
  name:'more',
  data () {
   return {
    title:'Details',
    imgId: this.$route.params.Iid,
    images: [
    {
      image: require('../assets/img/vasilij.jpg'),
      desc: 'Brown Scottish fold in brown thick-pile blanket',
      imageId: 1,
      catName: 'Vasilij'
    }, {
      image: require('../assets/img/alex.jpg'),
      desc: 'Selective focus photo of gray tabby cat',
      imageId: 2,
      catName: 'Alex'
    }, {
      image: require('../assets/img/eric.jpg'),
      desc: 'Silver tabby cat beside clear glass window',
      imageId: 3,
      catName: 'Eric'
    }, {
      image: require('../assets/img/jan.jpg'),
      desc: 'Brown tabby cat lying on white textile',
      imageId: 4,
      catName: 'Jan'
    }, {
      image: require('../assets/img/krista.jpg'),
      desc: 'Dog and cat hugging each other on the grass',
      imageId: 5,
      catName: 'Krista'
    }, {
      image: require('../assets/img/raul.jpg'),
      desc: 'Brown cat lying over black cat',
      imageId: 6,
      catName: 'Raul'
    }
    ]
   }
  }
 }
</script>
<style scoped>
  p {
    font-size: 1.25rem;
    padding: 10px;
  }
  .more {
    text-align: center;
    margin: 20px auto 20px auto;
  }
</style>
