<template>
<div>
 <div class="signup">
  <h1>{{title}}</h1>
  <p>Please fill in this form to create an account.</p>
 </div>

<div class="form d-flex justify-content-center align-items-center container">
 <form>
  <fieldset>
    <div class="form-group">
      <label for="fullName">Full name</label>
      <input id="fullName" type="email" class="form-control" placeholder="Your full name">
    </div>

    <div class="form-group">
      <label for="staticEmail">Email address</label>
      <input id="staticEmail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password1">Password</label>
      <input id="password1" type="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="password2">Repeat password</label>
      <input id="password2" type="password" class="form-control" placeholder="Repeat password">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </fieldset>
</form>
</div>

</div>

</template>
<script>
 export default{
  name:'signup',
  data () {
   return {
    title:'Sign up'
   }
  }
 }
</script>
<style scoped>
  p {
    font-size: 1.25rem;
    padding: 10px;
  }

  label {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #333;
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .signup {
    text-align: center;
    margin: 20px auto 20px auto;
  }

  .form {
    padding: 20px;
    max-width: 550px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 40px;
  }
</style>
