<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <router-link class="navbar-brand" to="/">Home</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <router-link class="nav-link" to="/users">Users</router-link>
          </li> -->
          <li class="nav-item">
            <router-link class="nav-link" to="/signup">Sign Up</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/login">Login</router-link>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <transition name="moveInUp">
         <router-view/>
       </transition>
    </div>

  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {

}

.navbar {
  font-size: 18px;
}

.moveInUp-enter-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.moveInUp-enter-active{
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
   0% {
     opacity: 0;
   }
   50% {
     opacity: 0.5;
   }
   100% {
     opacity: 1;
   }
 }

.moveInUp-leave-active {
  animation: moveInUp .3s ease-in;
 }

@keyframes moveInUp {
 0% {
  transform: translateY(0);
 }
  100% {
  transform: translateY(-400px);
 }
}

.navbar {
  z-index: 99;
}
</style>
